/* root values change them if you want different values for the content */
:root {
  /* root is mistyped */
  --gradiant-first-color: hsl(0, 63%, 58%);
  --gradiant-second-color: hsl(327, 100%, 33%);
  
}



/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Reset */


/* navbar should have gradient color 
a logo and 3 button links to home, about and contact */

.navbar {
  background-image: linear-gradient(90deg, hsl(0, 63%, 58%) 30%, hsl(327, 100%, 33%) 100%);
  color: hsl(34, 88%, 91%);
}

